# Bicycle Journey from NYC to Key West

First, I calculated the mileage between New York, NY and Key West, FL by using Google Maps.  The total mileage was listed at 1551.

Next, I imported the pandas module and then created three lists: one showing the date, one showing the odometer reading at the start of the day, and one showing the odometer reading at the end of the day.  Notice the the odometer reading lists are nearly identical, except for the initial and ending values.

In [1]:
import pandas as pd
dates = ['Feb 1', 'Feb 2', 'Feb 3', 'Feb 4', 'Feb 5', 'Feb 6', 'Feb 7', 'Feb 8', 'Feb 9', 
         'Feb 10', 'Feb 11', 'Feb 12', 'Feb 13', 'Feb 14', 'Feb 15', 'Feb 16', 'Feb 17', 
         'Feb 18', 'Feb 19', 'Feb 20', 'Feb 21', 'Feb 22', 'Feb 23', 'Feb 24', 'Feb 25',
         'Feb 26']
start = [0, 55, 120, 175, 240, 295, 360, 415, 480, 535, 600, 655, 720, 775, 840, 895, 960, 
        1015, 1080, 1135, 1200, 1255, 1320, 1375, 1440, 1495]
end = [55, 120, 175, 240, 295, 360, 415, 480, 535, 600, 655, 720, 775, 840, 895, 960, 
       1015, 1080, 1135, 1200, 1255, 1320, 1375, 1440, 1495, 1551]

Next, I created two Pandas series from the odometer reading lists, and print each series to verify the data.

In [2]:
beginning = pd.Series(data=start, index=dates)
beginning

Feb 1        0
Feb 2       55
Feb 3      120
Feb 4      175
Feb 5      240
Feb 6      295
Feb 7      360
Feb 8      415
Feb 9      480
Feb 10     535
Feb 11     600
Feb 12     655
Feb 13     720
Feb 14     775
Feb 15     840
Feb 16     895
Feb 17     960
Feb 18    1015
Feb 19    1080
Feb 20    1135
Feb 21    1200
Feb 22    1255
Feb 23    1320
Feb 24    1375
Feb 25    1440
Feb 26    1495
dtype: int64

In [3]:
ending = pd.Series(data=end, index=dates)
ending

Feb 1       55
Feb 2      120
Feb 3      175
Feb 4      240
Feb 5      295
Feb 6      360
Feb 7      415
Feb 8      480
Feb 9      535
Feb 10     600
Feb 11     655
Feb 12     720
Feb 13     775
Feb 14     840
Feb 15     895
Feb 16     960
Feb 17    1015
Feb 18    1080
Feb 19    1135
Feb 20    1200
Feb 21    1255
Feb 22    1320
Feb 23    1375
Feb 24    1440
Feb 25    1495
Feb 26    1551
dtype: int64

Next, I use Pandas magic to simply subtract the beginning series from the end series, to show how many miles were biked each day!

In [4]:
dailymiles = ending - beginning
dailymiles

Feb 1     55
Feb 2     65
Feb 3     55
Feb 4     65
Feb 5     55
Feb 6     65
Feb 7     55
Feb 8     65
Feb 9     55
Feb 10    65
Feb 11    55
Feb 12    65
Feb 13    55
Feb 14    65
Feb 15    55
Feb 16    65
Feb 17    55
Feb 18    65
Feb 19    55
Feb 20    65
Feb 21    55
Feb 22    65
Feb 23    55
Feb 24    65
Feb 25    55
Feb 26    56
dtype: int64